<div class="container-fluid  w-75">
    <div class="d-flex justify-content-between">
        <div>
            <button class="btn btn-primary" (click)="onOpenModalProjectForm(modalProjectForm)">Add</button>
            <button class="btn btn-secondary mx-2" (click)="onToggleDetail()">Hide/Show Detail</button>
        </div>
        <form class="d-flex flex-row gap-2 w-50" [formGroup]="searchForm">
            <div class="w-100">
                <select formControlName="searchBy" class="form-select"
                    [ngClass]="{'is-invalid': searchForm.get('searchBy')?.invalid && searchForm.get('searchBy')?.touched }"
                    id="validationDefault04" required>
                    <option selected disabled value="">Choose...</option>
                    <option value="ProjectID">Project ID</option>
                    <option value="ProjectName">Project Name</option>
                    <option value="TeamSize">Team Size</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
            </div>
            <div class="input-group mb-3 w-100 has-validation">
                <input type="text" formControlName="searchText" class="form-control"
                    [ngClass]="{'is-invalid': searchForm.get('searchText')?.invalid && searchForm.get('searchText')?.touched }"
                    placeholder="Search value" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" (click)="onSearch()" type="button" id="button-addon2"><i
                        class="bi bi-search"></i></button>
                <div class="invalid-feedback">
                    This field is required
                </div>
            </div>
        </form>
    </div>
    <div class="col-xl-12 mx-auto">
        <div class="row">
            <div class="col-md-4" *ngFor="let projectItem of listProjects; let i = index">
                <app-project-item 
                    [projectItem] = "projectItem" 
                    (editClick)="onOpenModalProjectForm(modalProjectForm, projectItem)"
                    (deleteClick)="onDeleteProject(projectItem.projectID)"
                ></app-project-item>
            </div>
        </div>
    </div>    
</div>



<ng-template #modalProjectForm let-modal>
    <div class="modal-header w-100">
        <h4 class="modal-title" id="modal-basic-title">{{isUpdateProject ? 'Update' : 'Add'}} Project</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="projectForm">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Project ID</label>
                <div class="col-sm-10">
                    <input type="number" formControlName="projectID" class="form-control"
                    [ngClass]="{'is-invalid': projectForm.get('projectID')?.invalid && projectForm.get('projectID')?.touched }">
                    <div class="invalid-feedback">
                        <span *ngIf="projectForm.get('projectID')?.invalid && projectForm.get('projectID')?.errors!['required']">
                            This field is required
                        </span>
                        <span *ngIf="projectForm.get('projectID')?.invalid && projectForm.get('projectID')?.errors!['uniqueProject']">
                            Project ID already exist
                        </span>                                               
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Project Name</label>
                <div class="col-sm-10">
                    <input type="text" formControlName="projectName" class="form-control" id=""
                        [ngClass]="{'is-invalid': projectForm.get('projectName')?.invalid && projectForm.get('projectName')?.touched }">
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Date of Start</label>
                <div class="col-sm-10">
                    <input type="date" [value]="projectForm.get('dateOfStart')?.value | date: 'yyyy-MM-dd'"
                        formControlName="dateOfStart" class="form-control" id="">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Team Size</label>
                <div class="col-sm-10">
                    <input type="number" formControlName="teamSize" class="form-control" id=""
                        [ngClass]="{'is-invalid': projectForm.get('teamSize')?.invalid && projectForm.get('teamSize')?.touched }">
                    <div class="invalid-feedback">
                        This field is required
                    </div>
                </div>
            </div>
            <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" formControlName="status" type="radio" name="status"
                            id="gridRadios1" value="In Force" checked>
                        <label class="form-check-label" for="gridRadios1">
                            In Force
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" formControlName="status" type="radio" name="status"
                            id="gridRadios2" value="Support">
                        <label class="form-check-label" for="gridRadios2">
                            Support
                        </label>
                    </div>
                </div>
            </fieldset>
            <div class="row mb-3">
                <label for="" class="col-sm-2 col-form-label">Client Location</label>
                <div class="col-sm-10">
                    <select formControlName="clientLocationID" class="form-select" id="autoSizingSelect"
                        [ngClass]="{'is-invalid': projectForm.get('clientLocationID')?.invalid && projectForm.get('clientLocationID')?.touched }">
                        <option selected>Choose...</option>
                        <option [ngValue]=location.clientLocationID
                            *ngFor="let location of listClientLocationService$ | async">{{location.clientLocationName}}
                        </option>
                    </select>
                    <div class="invalid-feedback">
                        This field is required                        
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check">
                        <input formControlName="active" class="form-check-input" type="checkbox">
                        <label class="form-check-label" for="gridCheck1">
                            Active
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary btn-primary text-white"
            (click)="onSaveProject()">Save</button>
    </div>
    <!-- <div>
        {{objectKeys(projectForm.get('projectName')?.errors!)[0] | json }}
    </div> -->
    
</ng-template>